.movieRow {
  margin-bottom: 3rem;
}

.movieRow h2 {
  margin: 0 0 1rem 3rem;
  
  font-size: 2.7rem;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 3rem;
}

.movieRow--list {
  transition: all ease .5s;
}

.movieRow--item {
  display: inline-block;
  width: 15rem;

  cursor: pointer;
}

.movieRow--item img {
  width: 100%;

  transform: scale(0.9);
  transition: all ease .2s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movieRow--left,
.movieRow--right {
  position: absolute;
  z-index: 5;

  width: 3.5rem;
  height: 22.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  transition: all ease .5s;
  
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}

@media(max-width: 760px) {
  .movieRow--left,
  .movieRow--right {
    opacity: 1;
  }
}